<aside class='sidebar'>
    <div class="dataMenu">
        <ul>
            <li><a href="/rider/profile">
                    <span class="db-icon">
                        <img class="actv_icn" src="../public/img/profile-icn2.png">
                        <img src="../public/img/profile-icn.png">
                    </span>Profile</a></li>
            <li><a href="/rider/history">
                    <span class="db-icon">
                        <img class="actv_icn" src="../public/img/ride-icn2.png">
                        <img src="../public/img/ride-icn.png">
                    </span>My Rides</a></li>
        </ul>
    </div>
</aside>