<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= Title %>
    </title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="../../public/img/logo.png" class="d-inline-block align-top" alt="">
                <span>UberGo</span>
            </a>
        </nav>
    </header>
    <section id='wrongPage'>
        <h1>oops! Something wrong</h1>
        <img src="../public/img/no-record.png">
        <p>You are in wrong direction, please go <a href="/"> back</a></p>
    </section>
</body>
</html>