<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= Title %>
    </title>
    <link rel='stylesheet' href='../public/css/main.css' type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>
    <form>
        <div class="bgimg">
            <div class="caption">
                <img class='logoImage' src='../public/img/logo.png'>
                <span class='logoName'>UberGo</span>
                <a class='btnLogin' href="/api/login">LOGIN</a>
            </div>
        </div>
        
    </form>
</body>

</html>